.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #007bff;

  min-width: 140px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-content button {
  width: 100%;
  padding: 12px;
  border: none;
  color: #ffffff;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
}

.dropdown-content button:hover {
  background-color: #ffffff;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
